*{
  margin: 0;
  padding: 0;
}
body{
    background-color: blueviolet;
}
img{
    background-color: aqua;

}
p{
    margin: 0px;
    background-color: yellow;
    font-family: "Haettenschweiler", sans-serif;
}