
.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    text-align: center;
}
.outer {
    background-color: rgb(117, 127, 127);
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle, white 15%, black 78%);
/*radial-gradient – плавен преход на цветове, който се разширява от центъра навън */

}
.inner {
    background-color: blueviolet;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
div,
h2 {
color: white;
font-size: 9rem;
display: flex;
justify-content: center;
align-items: center;
}

div:hover {/*jos haluan että pallo ei liikuisi divin paikalle laitan .inner*/

    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;/*Анимацията се повтаря безкрайно, докато курсорът е върху елемента.*/
  }
  /*
  -описва постепенни етапи от анимацията (от 0% до 100%).
  -Всеки етап използва transform, който мести и завърта елемента леко.
  -translate(x, y) – мести елемента по оста X и Y;
  -rotate(z) – завърта елемента в градуси (напр. -1deg = малко наляво).
  -Резултатът е потрепване/разклащане, което изглежда хаотично, като при земетресение или вибрация.
*/
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }