* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*laskee elementin leveyden niin, 
    että padding ja border sisältyvät kokonaisleveyteen*/
}

body {
    place-items: center;
    font-family: "Raleway", Verdana, sans-serif;
    background-color:hsl(139, 36%, 29%)
    
}

a {
    text-decoration: none;
    color: coral;
}
a:hover {/*hover tarkoitta kuin hiiri on päällä alaviiva tule näkyviin*/
text-decoration: underline;
}

main{
margin: 50px auto;/*tyhjää, ja automaattisesti keskelle vaakasuunnassa*/
width: 300px;/*max-leveys.*/
text-align: center;/*tekstit ja sisältö keskitetään.*/

}
/*Form section*/

.form-wrap { /*tarkoittaa sisältö*/
    background: white;
    text-align: center;
    padding: 20px;/*sisältö ei osu reunoihin*/
    border-radius: 5px;/*pyöristetyt kulmat*/
    margin-bottom: 20px;/*tila muiden elementien alle*/
}

.form-wrap h1,
.form-wrap p {
    margin-bottom: 20px;/*Antaa väliä otsikon ja kappaleen alle*/
}

label {

    display: block; /*järjästää paremmalla tavalla*/
    text-align: left;
    text-align: left;
    font-size: 10px;
    color: #474747;
    margin-bottom: 5px;/*väliä kentän ja tekstin välillä*/

}

input {
    width:100%;/*leveys 100% konttistä*/
    margin-bottom: 20px;/*tyhjä kentien välillä*/
    padding: 10px; /*tekstin ulkopuolella tila*/
}

button{
    background: coral;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    text-transform: uppercase;/*Teksti isoin kirjaimin*/
    width: 80%; /*levenää, näyttää paremmalta kuin 100%*/
}
#condions{
    font-size: 0.75em;/* em - fontin koko yleisesti, kaunis*/

}

#footertext {

    color:white;
}



/*

a{
    color: #fd7f50;
    cursor: pointer;/käsi liikuu linkin päällä/
    text-decoration: none;jos halutaan otta pois alaviiva
}
*/